/*Mobile and Global*/

h1{
    text-align: center;
}

h2, h3, h4 {
    margin: 10px 0;
}

#main-title {
    font-size: 1em;
    font-weight: 800;
    display: block;
    width: 100%;
    grid-area: three-ws;
    padding:  10px;
}

main ul {
    padding: 0 50px;
    list-style: square;
}

#link-info ul {
    list-style: none;
}

.information {
    width: 100%;
    height: auto;
    padding: 10px;
}





@media screen-only and (max=width: 481px) {
    #main-title {
        font-size: 4em;
    }

}