main {
    /* width: 100%; */
    max-width: 1920px;
    justify-items: center;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        "wear-title"
        "wear-information"
        "wear-pictures"
}

main ul {
    list-style: square;
    padding: 0 50px;
}

.wear-facts {
    grid-area: wear-information;
}

.wear-image {
    grid-area: wear-pictures;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


#face {
   max-width: 480px;
   margin: 25px 0 0 0;
}

#mask {
 max-width: 480px;
}

.slide-mask {
    animation-name: slide-up;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}

/*.slide-mask-down {
    animation-name: slide-down;
    animation-duration: 2s;
}

@keyframes slide-down {
    from {
        transform: translate(-90%);
    }
    to {
        transform: translate(90%);
    }
}*/

h1 {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #06719C;
    color: white;
    grid-area: wear-title;
}

h2 {
    padding: 10px;
}


p {
    padding: 10px;
}

table {
    background-color: #06719C;
    color: white; 
    margin: 15px 0;
}

th {
    border:  2px solid  #2B2C2E;
}

td {
    border: 2px solid  #2B2C2E;
    padding: 10px;
    font-size: .85;
    text-align: left;
    vertical-align: top;
}

.white-fill {
    background-color: white;
    color: #06719C;
    font-weight: 600;
}





@media only screen and (min-width: 481px) {
    
    main {
        grid-template-columns: 2fr, 1fr;
        grid-gap: 10px;
        grid-template-areas:
            "wear-title wear-title"
            "wear-information wear-pictures";
    }

    .wear-image {
        position: relative;
        width: 40vw;
    }


    #face {
        max-width: 500px;
        margin: 0;
        position: absolute;
        top: 100px;
    }

    #mask {
        max-width: 450px;
        position: absolute;
        top: 55%;
    }
}
