main {
    width: 100%;
    max-width: 1920px;
    justify-items: center;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        "wait-title"
        "wait-information"
        "tips-wait"
        "click-here"
        "wait-pictures"
}

main ul {
    list-style: square;
    padding: 0 50px;
}

#wait-facts {
    grid-area: wait-information;
    padding: 25px;
}

#wait-images {
    grid-area: wait-pictures;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 20px;
}

#wait-tips {
    grid-area: tips-wait;
}

h1 {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #06719C;
    color: white;
    padding: 10px 0;
    grid-area: wait-title;
}

h2 {
    padding: 10px;
}

#click {
    background: #06719C;
    color: white;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    grid-area: click-here;
}

p {
    padding: 10px;
}

#figure-one {
    width: 20%;
}

#figure-two {
    width: 25%;
}

.moveAway {
    animation-name: slide-down;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.moveIn {
    animation-name: slide-down;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    animation-timing-function: linear; 
}

@keyframes slide-down {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(200px);
    }
}

/*@keyframes slide-back {
    from {
        transform: translate(200px);
    }
    to {
        transform: translate(0px);
    }
}*/


@media only screen and (min-width: 481px) {
    
    main {
        grid-template-columns: .5fr, 1.5fr;
        grid-gap: 25px;
        grid-template-areas:
            "wait-title wait-title"
            "wait-information tips-wait"
            "click-here click-here"
            "wait-pictures wait-pictures"

    }

    #click {
        font-size: 1.5em;
    }

    @keyframes slide-right {
        from {
            transform: translate(0px);
        }
        to {
            transform: translate(600px);
        }
    }
}