main {
    width: 100%;
    max-width: 1920px;
    justify-items: center;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        "wash-title"
        "wash-information"
        "pic-box"
}

main ul {     
    list-style: square;
    padding: 0 50px;
}

h1 {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #06719C;
    color: white;
    grid-area: wash-title;
}

h2 {
    padding: 10px;
}

p {
    padding: 10px;
}

#box {
    grid-area: pic-box;
    display: grid;
    grid-template-areas: 
        "click-here"
        "wear-pictures"
}

#click {
    background: #06719C;
    color: white;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    grid-area: click-here;
}

.wash-facts {
    grid-area: wash-information;
}

.wash-images {
    grid-area: wash-pictures;
}

#hands {
    width: 400px;

}

#spout {
    width: 150px;
    position: absolute;
    left: 25px
}

.turn-on-water {
    animation-name: handle-turn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


@keyframes handle-turn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#spout-middle {
    width: 70px;
    position: absolute;
    left: 65px;
    top: 980px
}

@media only screen and (min-width: 481px) {
    main {
        grid-template-columns: 1fr, 1fr;
        grid-gap: 10px;
        grid-template-areas:
            "wash-title wash-title"
            "wash-pictures wash-information"
    }

    #hands {
        width: 650px;
        position: relative;
        top: 0px;
        left: 0px
    }
    
    #spout {
        min-width: 200px;
        top: 150px;
        left: 65px;
        z-index: 1;
    }

    #spout-middle {
        width: 100px;
        left: 115px;
        top: 210px;
        z-index: 1;
    }

}